body
{
    background-color: #d8d8d8;
    margin: 10px 10px 10px 10px;
    padding:  5px 5px 5px 5px;
}

.container{
    position: relative;
    padding: 0px 50px 10px 20px;
}
div.main
{
    background: #550000;
    height: 1200px;
    width: 900px;
    border-radius: 15px;
    border: 2px solid yellow;
    position: absolute;
    left: 360px;
}

div.internal
{
    color: white;
    border-radius: 15px;
    border: 2px solid yellow;
    margin: 25px 20px 25px 20px;
    padding: 0px 0px 0px 0px;
    background-color: #d8d8d8;
    margin: 25px 20px 25px 20px;
}
div.nav_elements{
    background: #550000;   
    padding: 15px 15px 10px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
a.nav_element
{
    color: white;
}
table.nav_element{
    border-width: 0px;
    color: white;
}
table.nav_element td{
    color: white;
}

table.nav_element td.spacy{
    color: white;
    padding: 5px 30px 5px 30px;
}
div.nav
{
    background: #550000;
    height: 1200px;
    width: 300px;
    border-radius: 15px;
    border: 2px solid yellow;
    position: absolute;
}
div.banner
{
    height:180px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-image: url(metall_texture_elements_background.jpg);
}

div.navtitle
{
    background-color: #d8d8d8;
    text-shadow: #000 2px 1px 1px;
}

h1.title
{
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
    margin: auto;
    padding: 45px;
}

p 
{
    margin: 10px 5px 15px 5px;
}

div.upload-out
{
    background-color: #d8d8d8;
    border-style: inset;
    margin: 0px;
    width:100%;
    height:20px;
}

div.upload-in
{
    background-color: #008500;
    border-style: none;
    width: 0%;
    height: 20px;
    margin: 0px;
}


div.book_record
{
    width: 95%;
}
table.book_record
{
    width: 100%;
}
div.book
{
    color: white;
    margin-top: 15px;
    margin-left: 10%;
}
img.book
{
    width: 210px;
    height: 260px;
}

span.book_title
{
    font-size: 32px;
}

span.book_descr
{
    font-style: italic;  
}
ul.book_tags
{
    border: 2px solid white;
    border-radius: 15px;
    border-top: 15px;
}
table.book_list
{
    display: inline;
    margin : 20px 20px 20px 20px;
}

/* log view*/
body.logview
{
  background-color: #3f3f3f;
  color: white;
  font-family: "arial", Serif;
}
tr.error
{
    color: #e97368;
    font-size: 0.8em;
    outline: thin solid darkgray;
}
tr.warning
{
    color: gold;
    font-size: 0.8em;
    outline: thin solid darkgray;
}
tr.info
{
    color: #2372c9;
    font-size: 0.8em;
    outline: thin solid darkgray;
}
tr.debug
{
    color: lightgray;
    font-size: 0.8em;
    outline: thin solid darkgray;
}
.fixed_width_450
{
    width: 450px;
}